.known-objects {
  margin-top: var(--gap);
}

.known-objects nav.tabs {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0;
}

.known-objects nav.tabs button {
  width: 50px;
  font-family: var(--condensed-font-family);
  font-weight: 400;
}

.known-objects nav.tabs button small {
  font-size: 80%;
}

.known-objects nav.tabs button .icon {
  margin: 0;
}

.known-objects nav.tabs button {
  padding-bottom: var(--gap-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  border-bottom: 2px solid #ffffff00;
}

.known-objects nav.tabs button.active {
  opacity: 1;
  border-bottom: 2px solid #ffffffff;
}

.known-objects.boxed {
  margin-top: 0;
}

.known-objects footer .lwm2m + .lwm2m {
  border-top: 1px solid var(--bg-blue-2);
}

.known-objects .cards .resources {
  padding: var(--gap);
}
