aside.sidebar {
  background-color: var(--bg-blue-3);
}

@media (min-width: 400px) {
  aside.sidebar > div.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--bg-blue-5) var(--bg-blue-1);
    scrollbar-width: thin;
    max-height: calc(100% - var(--base-size-navbar));
  }
}

aside.sidebar > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--base-size-navbar);
  margin: 0 var(--gap);
}

aside.sidebar > div.scrollable > section {
  margin: 0 var(--gap);
}

aside.sidebar > div.scrollable > section + section {
  margin-top: var(--gap);
}

aside.sidebar > div.scrollable > footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  padding-top: var(--gap);
  margin: var(--gap);
  opacity: 0.8;
  font-size: 90%;
}

aside.sidebar > div.scrollable > section.separator {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  padding-top: var(--gap);
}

aside.sidebar .close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: var(--gap);
}

aside.sidebar a {
  text-decoration: underline;
}

aside.sidebar .bg-light {
  background-color: var(--bg-blue-4);
}
