aside.add-device .scrollable {
  padding-bottom: var(--gap);
}

aside.add-device .add-device-flow .model {
  margin-top: var(--gap);
}

aside.add-device .add-device-flow .model h3 {
  margin-bottom: var(--gap);
}

aside.add-device .add-device-flow .known-models .about {
  margin-bottom: var(--gap);
}

aside.add-device .add-device-flow pre {
  overflow: hidden;
  text-overflow: ellipsis;
}

aside.add-device .add-device-flow dt:has(button) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside.add-device .add-device-flow h2,
aside.add-device .add-device-flow h3,
aside.add-device .add-device-flow p {
  margin-bottom: var(--gap-medium);
}

aside.add-device .add-device-flow h3 {
  margin-top: var(--gap);
}

aside.add-device .add-device-flow dt {
  margin-top: var(--gap-small);
  font-family: var(--condensed-font-family);
  font-weight: 200;
}

aside.add-device .add-device-flow dd {
  font-size: 90%;
  margin-bottom: var(--gap-medium);
}
