.experimental-warning {
  position: absolute;
  top: 1rem;
  justify-content: center;
  width: 100vw;
  display: flex;
}

.experimental-warning div {
  background-color: #e7c27b;
  color: #333;
  padding: 0.5rem;
  border-radius: 4px;
}
