div.info-block {
  margin: var(--gap) 0;
}

div.info-block h2 {
  margin-bottom: var(--gap-half);
}

div.info-block header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
