aside.device header h1 {
  display: flex;
  align-items: center;
}
aside.device header h1 .icon {
  margin-left: var(--gap-quart);
}

section.lwm2m header {
  display: flex;
  justify-content: space-between;
}

section.lwm2m header h2 {
  display: flex;
  flex-direction: column;
}

section.lwm2m header small {
  opacity: 0.75;
  font-size: 80%;
}

section.lwm2m .multiple-instances {
  margin-left: var(--gap-half);
}

.sidebar.device h1 {
  font-family: var(--condensed-font-family);
  font-weight: 100;
}

.sidebar.device .info-block {
  margin-bottom: var(--gap-half);
}
.sidebar.device .info-block.expanded {
  margin-bottom: var(--gap);
}

.instance-resources .source-info {
  margin-top: var(--gap-half);
  font-size: 90%;
}

.instance-resources .resources {
  margin-top: var(--gap);
}
