aside.device header h1 {
  display: flex;
  align-items: center;
}
aside.device header h1 .icon {
  margin-left: calc(var(--gap) / 4);
}

aside.device .device-info small {
  opacity: 0.75;
  font-size: 90%;
}

aside.device .device-info a .icon {
  margin-left: calc(var(--gap) / 4);
}

section.lwm2m header {
  display: flex;
  justify-content: space-between;
}

section.lwm2m header h2 {
  display: flex;
  flex-direction: column;
}

section.lwm2m small {
  opacity: 0.75;
  font-size: 80%;
}

section.lwm2m header h2 time {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section.lwm2m header h2 time .icon {
  margin-right: calc(var(--gap) / 4);
  display: flex;
}

section.lwm2m .multiple-instances {
  margin-left: calc(var(--gap) / 2);
}

section.lwm2m .resources {
  margin-top: calc(var(--gap) / 2);
  font-family: var(--condensed-font-family);
  font-weight: 300;
  font-size: 14px;
}

section.lwm2m .resources dl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}

section.lwm2m .resources dl dd,
section.lwm2m .resources dl dt {
  margin-bottom: calc(var(--gap) / 4);
  border-bottom: 1px solid #ffffff2a;
}

section.lwm2m .resources dl dd {
  text-align: right;
}

section.lwm2m .source {
  margin-top: calc(var(--gap) / 2);
  opacity: 0.9;
  display: flex;
  align-items: center;
}

section.lwm2m .source .icon {
  margin-right: calc(var(--gap) / 4);
}

section.lwm2m .source a .icon {
  margin-left: calc(var(--gap) / 4);
}
