dl.resources {
  margin-top: var(--gap-medium);
  font-family: var(--condensed-font-family);
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

dl.resources dt,
dl.resources dd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

dl.resources dd {
  margin-bottom: var(--gap-tiny);
  border-bottom: 1px solid #ffffff2a;
  font-weight: 400;
}

dl.resources dd + dt {
  margin-top: var(--gap-medium);
}

dl.resources .units {
  font-weight: 200;
}

dl.resources .units::before {
  content: " ";
}

dl.resources nav {
  flex-shrink: 0;
}

dl.resources nav > * {
  margin-left: var(--gap-small);
}

dl.resources time.relative {
  margin-right: var(--gap-small);
}

dl.resources .resource-info {
  display: flex;
}

dl.resources .resource-info .sep {
  opacity: 0.8;
}

dl.resources dt {
  font-size: 90%;
  opacity: 0.8;
}

dl.resources dt > span {
  display: flex;
  align-items: center;
}

dl.resources dt .info {
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}
dl.resources dt .info .name {
  margin-right: var(--gap-medium);
}

dl.resources dt .info time.relative {
  font-weight: 300;
}

dl.resources dt nav {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

dl.resources dt .info small {
  font-size: 90%;
  opacity: 0.8;
  margin-left: var(--gap-small);
  margin-right: var(--gap-small);
}

dl.resources dt .info small + small {
  margin-right: 0;
}

dl.resources dt .info small:first-child {
  margin-left: 0;
}

dl.resources dt .info small:last-child {
  margin-right: 0;
}

dl.resources dd {
  margin-top: var(--gap-small);
  overflow: hidden;
}
