aside.search .wrapper {
  margin: 0 var(--gap);
  --color-forms: #333;
  font-family: var(--condensed-font-family);
}

aside.search form {
  display: flex;
  align-items: center;
}

aside.search form input[type="search"] {
  color: var(--color-forms);
  border-style: solid;
  border-width: 1px;
  border-right-width: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-color: #d3d3d3;
  border-right-color: #d3d3d3;
  border-top-color: rgb(129, 129, 129);
  border-left-color: rgb(129, 129, 129);
  background-color: white;
  padding: 0 calc(var(--gap) / 2);
  flex-grow: 1;
  height: 32px;
}

aside.search form button {
  border-style: solid;
  border-width: 1px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-color: #d3d3d3;
  border-right-color: #d3d3d3;
  border-top-color: rgb(129, 129, 129);
  border-left-color: rgb(129, 129, 129);
  background-color: rgb(184, 184, 184);
  height: 32px;
  padding: 0 calc(var(--gap) / 2);
}

aside.search form button .icon {
  margin-top: 4px;
  color: #153e57;
  opacity: 0.8;
}

aside.search div.terms {
  margin-top: calc(var(--gap) / 2);
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

aside.search div.terms button {
  display: flex;
  align-items: center;
  color: #153e57;
  border: 1px solid #00000033;
  background-color: #ffffffde;
  border-radius: var(--border-radius);
  padding: calc(var(--gap) / 4) calc(var(--gap) / 2);
}

aside.search div.terms button {
  margin-top: calc(var(--gap) / 4);
}

aside.search div.terms button:first-child,
aside.search div.terms button + button {
  margin-right: calc(var(--gap) / 4);
}

aside.search div.terms button .icon {
  margin-left: calc(var(--gap) / 2);
}

aside.search section.results {
  margin: var(--gap);
}

aside.search section.results header {
  margin-bottom: var(--gap);
}

aside.search section.results .result {
  display: flex;
  align-items: center;
  margin-left: calc(var(--gap) / 4);
  font-family: var(--condensed-font-family);
}

aside.search section.results .result .icon {
  width: 24px;
  margin-right: calc(var(--gap) / 2);
  flex-shrink: 0;
}

aside.search section.results .result small {
  opacity: 0.75;
}
