nav.sidebar {
  background-color: var(--bg-blue-4);
  width: 60px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid var(--bg-blue-1);
}

nav.sidebar .logo {
  padding: 10px;
}

nav.sidebar hr {
  border-bottom: 1px solid var(--bg-blue-1);
  width: 100%;
  padding: 0;
}

nav.sidebar .button {
  width: 59px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.sidebar .warning {
  background-color: var(--color-warning);
  color: var(--color-dark-red);
}

nav.sidebar .white {
  background-color: white;
}

aside.sidebar {
  position: fixed;
  left: 59px;
  top: 60px;
}

aside.sidebar > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 1rem;
}

aside.sidebar.warning {
  background-color: var(--color-warning);
  color: var(--color-dark-red);

  min-height: 50vh;
}

@media (min-width: 400px) {
  aside.sidebar.warning {
    width: 300px;
  }
}
