nav.sidebar {
  background-color: var(--bg-blue-4);
  width: var(--base-size-sidebar);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid var(--bg-blue-1);
}

nav.sidebar .logo {
  padding: 10px;
}

nav.sidebar hr {
  border-bottom: 1px solid var(--bg-blue-1);
  width: 100%;
  padding: 0;
}

nav.sidebar .button {
  width: calc(var(--base-size-sidebar) - 1px);
  height: calc(var(--base-size-sidebar) - 1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.sidebar .warning {
  background-color: var(--color-warning);
  color: var(--color-dark-red);
}

nav.sidebar .white {
  background-color: white;
}

aside.sidebar {
  position: fixed;
  left: calc(var(--base-size-sidebar) - 1px);
  top: var(--base-size-sidebar);
  border-top-right-radius: calc(var(--base-size-sidebar) / 2);
}

aside.sidebar > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--base-size-sidebar);
  margin: 0 1rem;
}

aside.sidebar nav {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

aside.sidebar .close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside.sidebar.warning {
  background-color: var(--color-warning);
  color: var(--color-dark-red);
  border-bottom-color: var(--color-dark-red);
  height: calc(100vh - var(--base-size-sidebar));
}

@media (min-width: 400px) {
  aside.sidebar.warning {
    width: calc(400px - var(--base-size-sidebar));
  }
}
