nav.sidebar {
  background-color: var(--bg-blue-2);
  width: var(--base-size-sidebar);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

nav.sidebar .logo {
  padding: 10px;
}

nav.sidebar hr {
  border-bottom: 1px solid var(--bg-blue-1);
  width: 100%;
  padding: 0;
}

nav.sidebar .button {
  width: calc(var(--base-size-sidebar) - 1px);
  height: calc(var(--base-size-sidebar) - 1px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* Button colors */
nav.sidebar .active {
  background-color: var(--bg-blue-3);
}

nav.sidebar .error {
  color: var(--color-error);
}

nav.sidebar .warning {
  color: var(--color-warning);
}

aside.sidebar {
  position: fixed;
  left: calc(var(--base-size-sidebar) - 1px);
  top: 0;
  z-index: 2000;
  background-color: var(--bg-blue-3);
  height: 100vh;
}

@media (min-width: 400px) {
  aside.sidebar {
    width: calc(400px - var(--base-size-sidebar));
    border-top-right-radius: calc(var(--base-size-sidebar) / 4);
    border-bottom-right-radius: calc(var(--base-size-sidebar) / 4);
  }
}

aside.sidebar > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--base-size-sidebar);
  margin: 0 1rem;
}

aside.sidebar hr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 1rem;
  opacity: 0.5;
}

aside.sidebar .close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

aside.sidebar a {
  text-decoration: underline;
}

.boxed {
  background-color: var(--bg-blue-4);
}

.boxed.light {
  background-color: var(--bg-blue-5);
}
