nav.sidebar {
  background-color: var(--bg-blue-2);
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

nav.sidebar .logo {
  padding: calc(var(--border-radius) * 2);
}

nav.sidebar hr {
  border-bottom: 1px solid var(--bg-blue-1);
  width: 100%;
  padding: 0;
}

nav.sidebar .icon.highlight {
  filter: drop-shadow(0 0 2px var(--color-highlight-shadow));
  color: var(--color-highlight);
}

nav.sidebar .button {
  width: calc(100% - 1px);
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* Button colors */
nav.sidebar .active {
  background-color: var(--bg-blue-3);
}

nav.sidebar .error {
  color: var(--color-error);
}

nav.sidebar .warning {
  color: var(--color-warning);
}
