.source-info p {
  opacity: 0.75;
  display: flex;
}

.source-info a .icon {
  margin-left: var(--gap-tiny);
}

.source-info .icon {
  flex-shrink: 0;
  margin-right: var(--gap-tiny);
}

.source-info a .icon {
  margin-right: var(--gap-tiny);
}

.source-info p + p {
  margin-top: 0;
}
