:root {
  /* Colors */
  --bg-blue-5: #2f5a87;
  --bg-blue-4: #1a497b;
  --bg-blue-3: #11456f;
  --bg-blue-2: #094062;
  --bg-blue-1: #003c56;
  --bg-blue-0: #0c2438;
  --color-warning: #e7c27b;
  --color-warning-dark: #c2a163;
  --color-warning-darker: #a0875a;
  --color-warning-text: #222222;
  --color-error: #ce0d0d;
  --color-highlight-shadow: #fffaa8;
  --color-highlight: #80ed99;
  --color-tutorial-bg: #e3ea98;
  --color-tutorial-bg-dark: #c5ca86;
  --color-tutorial-bg-darker: #8f945f;
  --color-tutorial-highlight: #fff100;
  --color-tutorial-bg-completed: rgb(80, 200, 120);
  --color-tutorial-bg-completed-darker: rgb(40, 100, 60);
  --color-tutorial-text: #222;
  --chart-labels: #ffffff80;
  --chart-values: var(--color-highlight);
  --color-form-text: #fff;
  --color-form-text-disabled: #aaa;
  --color-button: #153e57;
  --color-border-light: #d3d3d3;
  --color-border-default: rgb(129, 129, 129);
  --color-border-active: #31f3c4;
  --color-form-bg: #333;
  --color-form-border-default: #222;
  --color-progress-fg: #305074;
  --color-progress-bg: #283b5e;
  --color-success-bg: #44663f;
  --color-success-fg: #3d724a;

  /* Fonts */
  --regular-font-family: "Inter Tight", sans-serif;
  --condensed-font-family: "Roboto Condensed", sans-serif;

  /* Sizes */
  --base-size-navbar: 40px;
  --border-radius: 2.5px;
  --gap: 0.5rem;
  --gap-medium: calc(var(--gap) / 2);
  --gap-small: calc(var(--gap) / 4);
  --gap-tiny: calc(var(--gap) / 4);
}

@media (min-width: 400px) {
  :root {
    --base-size-navbar: 60px;
    --border-radius: 5px;
    --gap: 1rem;
  }
}

html,
body {
  min-height: var(--app-height);
  background: #111;
  color: white;
  font-family: var(--regular-font-family);
  font-weight: 300;
  font-style: normal;
  background-color: var(--bg-blue-0);
}

code {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

button[type="button"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--regular-font-family);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h1 {
  font-size: 22px;
  font-weight: 100;
}

h2 {
  font-size: 18px;
}

.boxed {
  border-radius: calc(var(--border-radius) * 2);
  box-shadow: 0 0 var(--box-shadow-size) #00000066;
  overflow: hidden;
}

.boxed + .boxed {
  margin-top: var(--gap);
}

.boxed > *:not(:first-child) {
  border-top: 1px solid var(--bg-blue-2);
}

p {
  line-height: 135%;
  margin-bottom: var(--gap-medium);
}

/* Link with icon, button with icon */
a:has(.icon),
button:has(.icon) {
  display: flex;
  align-items: center;
}

a:has(.icon) .icon,
button:has(.icon) .icon {
  margin-right: var(--gap-tiny);
}

/* Header with button */
header:has(> button[aria-expanded]),
header:has(> button[type="button"]) {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

header:has(> button[aria-expanded]) > .icon,
header:has(> button[type="button"]) > .icon {
  margin-left: var(--gap);
}

/* Headline with icon */
h1:has(.icon),
h2:has(.icon),
h3:has(.icon),
h4:has(.icon),
h5:has(.icon),
h6:has(.icon) {
  display: flex;
}

h1:has(.icon) .icon,
h2:has(.icon) .icon,
h3:has(.icon) .icon,
h4:has(.icon) .icon,
h5:has(.icon) .icon,
h6:has(.icon) .icon {
  margin-right: var(--gap-tiny);
}

.pad {
  padding: var(--gap);
}

.pad-b {
  padding-bottom: var(--gap);
}

.pad-t {
  padding-top: var(--gap);
}

.pad-s {
  padding-left: var(--gap);
}

.pad-e {
  padding-right: var(--gap);
}

.gap {
  margin: var(--gap);
}

.gap-b {
  margin-bottom: var(--gap);
}

.gap-t {
  margin-top: var(--gap);
}

.gap-s {
  margin-left: var(--gap);
}

.gap-e {
  margin-right: var(--gap);
}

.gap-medium {
  margin: calc(var(--gap) / 2);
}

.gap-b-medium {
  margin-bottom: calc(var(--gap) / 2);
}

.gap-t-medium {
  margin-top: calc(var(--gap) / 2);
}

.gap-s-medium {
  margin-left: calc(var(--gap) / 2);
}

.gap-e-medium {
  margin-right: calc(var(--gap) / 2);
}

/** Forms **/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
select {
  font-family: var(--condensed-font-family);
  border-style: solid;
  border-width: 1px;
  border-radius: calc(var(--border-radius) / 2);
  border-color: var(--color-form-border-default);
  background-color: var(--color-form-bg);
  color: var(--color-form-text);
  padding: 0 var(--gap-medium);
  flex-grow: 1;
  height: 32px;
  line-height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 300;
}

input[type="radio"],
input[type="checkbox"] {
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-form-border-default);
  height: 16px;
  width: 16px;
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="radio"][checked],
input[type="checkbox"][checked] {
  background-color: var(--color-border-active);
  border-color: var(--color-border-active);
}

select {
  appearance: menulist;
}

input:focus,
select:focus,
input:focus + button.btn,
.btn:active:not(:disabled) {
  border-color: var(--color-border-active);
}

/* Hack to remove style for auto-filled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition:
    background-color 5000000s ease-in-out 0s,
    color 5000000s ease-in-out 0s;
}

.one-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.one-line > *:last-child {
  margin-top: var(--gap-medium);
}

@media (min-width: 450px) {
  .one-line {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .one-line button {
    flex-shrink: 0;
    margin-left: var(--gap-medium);
  }

  .one-line > *:last-child {
    margin-top: 0;
  }
}

.btn {
  border-style: solid;
  border-width: 1px;
  border-radius: calc(var(--border-radius) / 2);
  border-color: var(--color-form-border-default);
  background-color: var(--color-form-bg);
  height: 32px;
  padding: 0 var(--gap-medium);
  color: var(--color-form-text);
  font-weight: 300;
  display: inline-block;
  height: 32px;
  font-family: var(--condensed-font-family);
}

.btn:disabled {
  background-color: var(--color-form-bg);
  color: var(--color-form-text-disabled);
}

a.btn {
  display: inline-block;
  line-height: 30px;
}

.btn .icon {
  opacity: 0.8;
}

.input-group input + button.btn {
  border-left: 0;
}

.input-group input,
.input-group input:focus {
  border-right: 0;
}

label {
  display: block;
  margin-bottom: var(--gap-medium);
}

.row + .row {
  margin-top: var(--gap-medium);
}

footer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: var(--gap-medium);
}

/* UL */
ul {
  margin-bottom: var(--gap-medium);
  list-style: circle;
}

ul li {
  margin-left: 1.5rem;
  margin-bottom: 0.25rem;
}

.bg-light {
  background-color: var(--bg-blue-4);
}

.bg-lighter {
  background-color: var(--bg-blue-5);
}

.color-error {
  color: var(--color-error);
}

.color-success {
  color: var(--color-highlight);
}
