:root {
  --bg-blue-5: #2f5a87;
  --bg-blue-4: #1a497b;
  --bg-blue-3: #11456f;
  --bg-blue-2: #094062;
  --bg-blue-1: #003c56;
  --color-warning: #e7c27b;
  --color-error: #ce0d0d;
  --color-highlight-shadow: #fffaa8;
  --color-highlight: #80ed99;
  --chart-labels: #ffffff80;
  --chart-values: var(--color-highlight);
  --color-forms: #333;
  --color-button: #153e57;
  --color-border-light: #d3d3d3;
  --color-border-dark: rgb(129, 129, 129);
  --color-form-bg: #fff;
  --base-size-navbar: 40px;
  --regular-font-family: "Inter Tight", sans-serif;
  --condensed-font-family: "Roboto Condensed", sans-serif;
  --gap: 0.5rem;
  --gap-medium: calc(var(--gap) / 2);
  --gap-small: calc(var(--gap) / 4);
  --gap-tiny: calc(var(--gap) / 4);
  --border-radius: 2.5px;
  --box-shadow-size: calc(var(--border-radius) * 2);
}

@media (min-width: 400px) {
  :root {
    --base-size-navbar: 60px;
    --gap: 1rem;
    --border-radius: 5px;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background: #111;
  color: white;
  font-family: var(--regular-font-family);
  font-weight: 200;
  font-style: normal;
}

code {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

button[type="button"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--regular-font-family);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h1 {
  font-size: 22px;
  font-weight: 100;
}

h2 {
  font-size: 18px;
}

.boxed {
  border-radius: calc(var(--border-radius) * 2);
  box-shadow: 0 0 var(--box-shadow-size) #00000066;
}

.boxed + .boxed {
  margin-top: var(--gap);
}

.boxed > *:not(:first-child) {
  border-top: 1px solid var(--bg-blue-2);
}

p {
  line-height: 135%;
}

p + p {
  margin-top: 0.75rem;
}

/* Link with icon, button with icon */
a:has(.icon),
button:has(.icon) {
  display: flex;
  align-items: center;
}

a:has(.icon) .icon,
button:has(.icon) .icon {
  margin-right: var(--gap-tiny);
}

/* Header with button */
header:has(> button[aria-expanded]) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Headline with icon */
h1:has(.icon),
h2:has(.icon),
h3:has(.icon),
h4:has(.icon),
h5:has(.icon),
h6:has(.icon) {
  display: flex;
}

h1:has(.icon) .icon,
h2:has(.icon) .icon,
h3:has(.icon) .icon,
h4:has(.icon) .icon,
h5:has(.icon) .icon,
h6:has(.icon) .icon {
  margin-right: var(--gap-tiny);
}

.rounded-header {
  padding: var(--gap);
  background-color: var(--bg-blue-3);
  border-bottom: 1px solid var(--bg-blue-1);
  border-top-left-radius: calc(var(--border-radius) * 2);
  border-top-right-radius: calc(var(--border-radius) * 2);
}
.rounded-header:has(> button[aria-expanded="false"]) {
  border-bottom: 0;
  border-bottom-left-radius: calc(var(--border-radius) * 2);
  border-bottom-right-radius: calc(var(--border-radius) * 2);
}
.rounded-footer {
  padding: var(--gap);
  background-color: var(--bg-blue-3);
  border-bottom-left-radius: calc(var(--border-radius) * 2);
  border-bottom-right-radius: calc(var(--border-radius) * 2);
}
.rounded-footer.dark {
  background-color: var(--bg-blue-2);
}
.rounded-footer:has(> button[aria-expanded="true"]) {
  border-bottom: 1px solid var(--bg-blue-1);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.pad {
  padding: var(--gap);
}

.pad-b {
  padding-bottom: var(--gap);
}

/** Forms **/

form {
  font-family: var(--condensed-font-family);
}

form input,
form select {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  border-bottom-color: var(--color-border-light);
  border-right-color: var(--color-border-light);
  border-top-color: var(--color-border-dark);
  border-left-color: var(--color-border-dark);
  background-color: var(--color-form-bg);
  padding: 0 var(--gap-medium);
  flex-grow: 1;
  height: 32px;
  color: var(--color-forms);
  line-height: 32px;
  width: 100%;
}
form select {
  appearance: menulist;
}

form button {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  border-bottom-color: var(--color-border-dark);
  border-right-color: var(--color-border-dark);
  border-top-color: var(--color-border-light);
  border-left-color: var(--color-border-light);
  background-color: rgb(184, 184, 184);
  height: 32px;
  padding: 0 var(--gap-medium);
  color: var(--color-button);
  font-weight: 300;
}

form label {
  display: block;
  margin-bottom: var(--gap-medium);
}

form .row + .row {
  margin-top: var(--gap-medium);
}

form footer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: var(--gap-medium);
}
