:root {
  --bg-blue-1: #022075;
  --bg-blue-2: #011e71;
  --bg-blue-3: #021c6c;
  --bg-blue-4: #021966;
  --bg-blue-5: #02165e;
  --bg-blue-6: #021255;
  --bg-blue-7: #020e4b;
  --bg-blue-8: #020d47;
  --color-warning: #e7c27b;
  --color-dark-red: #860404;
  --base-size-sidebar: 40px;
}

@media (min-width: 400px) {
  :root {
    --base-size-sidebar: 60px;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background: var(--bg-blue-8);
  color: white;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

button[type="button"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.boxed {
  background-color: #ffffff22;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 4px #000000b8;
}
