@media (min-width: 400px) {
  aside.device .scrollable {
    padding: var(--box-shadow-size) 0 var(--box-shadow-size) 0;
  }
}

aside.device header h1 {
  display: flex;
  align-items: center;
}

aside.device header h1 .icon {
  margin-left: var(--gap-small);
}

.lwm2m header h2 {
  display: flex;
  flex-direction: column;
}

.lwm2m header small {
  opacity: 0.75;
  font-size: 80%;
}

.lwm2m .multiple-instances {
  margin-left: var(--gap-medium);
}

.sidebar.device h1 {
  font-family: var(--condensed-font-family);
  font-weight: 100;
  max-width: calc(100% - var(--gap));
}

.sidebar.device h1 span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar.device .info-block {
  margin-bottom: var(--gap-medium);
}

.sidebar.device .info-block.expanded {
  margin-bottom: var(--gap);
}

.instance-resources {
  padding: var(--gap);
}

.instance-resources .source-info {
  margin-top: var(--gap-medium);
}

.instance-resources dd.value.multiple {
  display: initial;
}

.instance-resources
  dd.value.multiple
  span.resource-value
  + span.resource-value:before {
  content: ", ";
  opacity: 0.5;
}

.lwm2m.boxed {
  padding: 0;
  margin-top: 0;
}
